@model RequestDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorId" class="control-label"></label>
                <input asp-for="DonorId" class="form-control" />
                <span asp-validation-for="DonorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BloodType" class="control-label"></label>
                <input asp-for="@Model.BloodType" class="form-control" />
                <span asp-validation-for="@Model.BloodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NumOfBags" class="control-label"></label>
                <input asp-for="@Model.NumOfBags" class="form-control" />
                <span asp-validation-for="@Model.NumOfBags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DateTime" class="control-label"></label>
                <input asp-for="@Model.DateTime" class="form-control" />
                <span asp-validation-for="@Model.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Governorate" class="control-label"></label>
                <input asp-for="@Model.Governorate" class="form-control" />
                <span asp-validation-for="@Model.Governorate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Province" class="control-label"></label>
                <input asp-for="@Model.Province" class="form-control" />
                <span asp-validation-for="@Model.Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}