@model IEnumerable<RequestDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>



@if (Model?.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.Id)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.PatientId)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.DonorId)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.BloodType)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.NumOfBags)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.DateTime)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Governorate)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Province)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.State)</th>
                <th scope="col">Details</th>
                <th scope="col">Accept</th>
                <th scope="col">Refuse</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.PatientId</td>
                    <td>@item.DonorId</td>
                    <td>@item.BloodType</td>
                    <td>@item.NumOfBags</td>
                    <td>@item.DateTime</td>
                    <td>@item.Governorate</td>
                    <td>@item.Province</td>
                    <td>@item.State</td>
                    <td>
                        <a class="btn btn-success" asp-controller="Request" asp-action="Details" asp-route-id="@item.Id">
                            Details
                        </a>
                    </td>
                    <td>
                        <form class="btn btn-success" asp-controller="Request" asp-action="Accept" asp-route-id="@item.Id">
                            <input type="submit" value="Accept"/>
                        </form>
                    </td>
                    <td>
                        <form class="btn btn-success" asp-controller="Request" asp-action="Refuse" asp-route-id="@item.Id">
                            <input type="submit" value="Refuse"/>
                        </form>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h3>No Requests Found!</h3>
    </div>
}