@model IEnumerable<DAL.Entities.Announcement>
@{
    ViewData["Title"] = "Announcements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Announcements</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Content</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var announcement in Model)
            {
                <tr>
                    <td>@announcement.Title</td>
                    <td>@announcement.location</td>
                    <td>@announcement.Content</td>
                    <td>@announcement.StartDate.ToShortDateString()</td>
                    <td>@announcement.EndDate.ToShortDateString()</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@announcement.Id" class="btn btn-info btn-sm">Edit</a>
                    </td>
                    <td>
                        <form asp-controller="Announcement" asp-action="Delete" asp-route-id="@announcement.Id">
                            <input class="btn-danger" type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No announcements found.</p>
}
